# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentyfive/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# PHPUnit/Pest
phpunit.xml
.phpunit.result.cache
.phpunit.cache

# WP-CLI
wp-cli.local.yml

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Node bot
discord-bot/node_modules/
discord-bot/bot-state.json
discord-bot/.env

storage/logs/*
!storage/logs/.gitkeep
!storage/.gitkeep
